<footer class="ly_footer bl_footer">
	<div class="ly_footer_inner">
		<div class="ly_footer_containerLink">
			<div class="ly_footer_iconContainer bl_footer_iconContainer">
				<p class="bl_footer_tit">森塚ボウル<br class="tab-hidden pc-hidden">公式SNS</p>
				<div class="ly_footer_iconContainerInner">
					<!--以下twitterのボタン-->
					<p class="bl_footer_copyTwitter reset"><a href="https://twitter.com/GO54352960" target="_blank">
							<i class="bl_footer_icon bl_footer_iconTwitter fab fa-twitter-square"></i></a></p>
					<!--以下Facebookのボタン-->
					<p class="bl_footer_copyFacebook reset"><a href="https://www.facebook.com/profile.php?id=100048348480639" target="_blank">
							<i class="bl_footer_icon bl_footer_iconFacebook fab fa-facebook-square"></i></a></p>
					<!--以下Instagramのボタン-->
					<p class="bl_footer_copyInstagram reset"><a href="https://www.instagram.com/?hl=ja" target="_blank">
							<i class="bl_footer_icon bl_footer_iconInstagram fab fa-instagram"></i></a></p>
				</div>
				<!-- /.ly_footer_iconContainerInner -->
			</div>
			<!-- /.ly_footer_iconContainer -->
			<div class="ly_footer_accessContainer">
				<p class="bl_footer_tit">森塚ボウルへ<br class="tab-hidden pc-hidden">アクセス</p>
				<!--アイコンはアクセスへのリンク-->
				<p class="bl_footer_access_img"><a href="access.html"><img src="image/gmap-icon/icon_mappin32_3.svg" alt="アクセスへのリンク"></a></p>
			</div>
			<!-- /.ly_footer_accessContainer -->
			<div class="ly_footer_reservationContainer">
				<p class="bl_footer_tit">団体予約<br class="tab-hidden pc-hidden">はこちら</p>
				<!--アイコンは団体予約へのリンク-->
				<p class="bl_footer_access_img"><a href="reservations.html"><i class="far fa-calendar-alt"></i></a></p>
			</div>
			<!-- /.ly_footer_reservationContainer -->
		</div>
		<!-- /.ly_footer_containerLink -->
	</div>
	<!-- /.footer_inner -->
	<div class="ly_footer_info bl_footer_info">
		<div class="tab-flexRow">
			<p class="ly_footer_contactCopy uq-tac">森塚ボウルへのお問い合わせはこちら</p>
			<div class="ly_footer_phoneNumberBox">
				<i class="ly_footer_info_icon bl_footer_info_icon fas fa-phone-alt"></i>
				<p class="ly_footer_info_phoneNumber bl_footer_info_phoneNumber reset">011-123-4567</p>
			</div>
			<!-- /.ly_footer_phoneNumberBox -->
		</div>
		<!-- /.tab-flexRow -->
		<p class="uq-tac">受付時間：平日・土日・祝日<br class="tab-hidden pc-hidden">ともに10:00～17:00</p>
	</div>
	<!--/.footer_info-->
	<div class="ly_footer_info">
		<div class="tab-flexRow">
			<p class="ly_footer_info_busCopy uq-tac">送迎バスあり（20名程度）</p>
			<p class="ly_footer_info_address bl_footer_info_address uq-tac">住所:札幌市中央区南9条西3丁目6-10</p>
		</div>
		<!--/.tab-flexRow-->
		<p class="uq-tac">レーン数:２０<small>(特別レーン２を含む)</small></p>
	</div>
	<!-- /.ly_footer_info -->
	<div class="ly_footer_inner">
		<p class="ly_footer_copyrights uq-tac reset"><small>&copy;Morizuka bowl inc.</small></p>
	</div>
	<!-- /.footer_inner -->
</footer><%#/.footer%>