<header class="header">
	<!-- 他所からの引用なので、命名規則に必ずしも従わない -->
	<!-- sp-以下はスマホ版のみ表示。-->
	<div class="sp-header-logo-menu">
		<div id="nav-drawer">
			<input id="nav-input" type="checkbox" class="nav-unshown">
			<label id="nav-open" for="nav-input"><span></span></label>
			<label class="nav-unshown" id="nav-close" for="nav-input"></label>
			<div id="nav-content">
				<ul>
					<li><a href="index.html">森塚ボウル</a></li>
					<li><a href="facility.html">施設案内</a></li>
					<li><a href="restaurant.html">レストラン</a></li>
					<li><a href="event.html">イベント一覧</a></li>
					<li><a href="reservations.html">団体予約</a></li>
					<li><a href="access.html">アクセス</a></li>
				</ul>
			</div>
		</div>
		<!--/.nav-drawer-->
		<div class="logo-area">
			<h1 class="logo-area_headding1 reset">
				<a href="index.html"><img class="logo-area_logo" src="image/morizuka-bowling-logo/logo(normal).png" alt="森塚ボウルのロゴ"></a>
			</h1>
		</div>
		<!--/.logo-area-->
	</div>
	<!--/.sp-header-logo-menu-->
	<nav class="pc-nav">
		<ul class="pc-nav__gnav">
			<li><a href="index.html">森塚ボウル<br>トップページ</a></li>
			<li><a href="facility.html">施設案内</a></li>
			<li><a href="restaurant.html">レストラン</a></li>
			<li><a href="event.html">イベント一覧</a></li>
			<li><a href="reservations.html">団体予約</a></li>
			<li><a href="access.html">アクセス</a></li>
		</ul>
	</nav>
</header>