<%# metaにページの基本情報を指定 %> <%# CSSが一枚の場合、pathは触らなくて大丈夫です %> <%# 下層ページにCSSを個別に当てる場合、値を'..'にして下さい(代入先参照) %> <%
const meta = {
  title: '森塚ボウル',
  description: '森塚ボウルへようこそ！',
  path: '.'
};
%> <%- include('common/_meta',{meta:meta}) %>

<body>
	<div class="contentsWrapper"> <%- include('common/_header') %>
		<!--/.header -->
		<main class="index sp-headerSpace">
			<div class="swiper-container uq-mbLarge">
				<div class="swiper-wrapper">
					<div class="swiper-slide">
						<img src="image/lane/lane01.jpg" alt="Swiper01">
					</div>
					<!--/.swiper-slide-->
					<div class="swiper-slide">
						<img src="image/lane/lane02.jpg" alt="Swiper02">
					</div>
					<!--/.swiper-slide-->
					<div class="swiper-slide">
						<img src="image/lane/lane03.jpg" alt="Swiper03">
					</div>
					<!--/.swiper-slide-->
				</div>
				<div class="swiper-pagination"></div>
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
			<!--swiper-container-->
			<section class="index_infomation uq-mbLarge">
				<h2 class="uq-tac">新着情報</h2>
				<table class="index_infomation_table">
					<tr>
						<th><time datetime="3-13">3月13日</time></th>
						<td>森塚ボウルのリニューアルが完了しました！</td>
					</tr>
					<tr>
						<th><time datetime="3-1">3月1日</time></th>
						<td>レストランのリニューアルが完了しました！</td>
					</tr>
				</table>
			</section>
			<section class="ly_introduction uq-mbLarge uq-tac">
				<h2 class="bl_introduction_tit">ボウリングとカフェテリア</h2>
				<div class="ly_introduction_container">
					<div class="ly-box ly_introduction_container_box">
						<p class="bl_introduction_tit uq-tac"><a href="facility.html">ボウリング場</a></p>
						<p class="bl_introduction_img"><a href="facility.html"><img src="image/bowl/ball03.jpg" alt="ボウリング場へのリンク"></a></p>
					</div>
					<!-- /.ly_introduction_container_box -->
					<div class="ly-box ly_introduction_container_box">
						<p class="bl_introduction_tit uq-tac"><a href="restaurant.html">レストラン</a></p>
						<p class="bl_introduction_img"><a href="restaurant.html"><img src="image/foods/food01.jpg" alt="レストランのリンク"></a></p>
					</div>
					<!-- /.ly_introduction_container_box -->
				</div>
				<!-- /.ly_introduction_container -->
			</section>
			<!-- /.introduction -->
			<section class="ly_event uq-mbLarge uq-tac">
				<h2 class="ly_event_tit">イベント一覧</h2>
				<div class="ly_event_container">
					<div class="ly_event_container_box">
						<p class="ly_event_container_tit bl_event_container_tit"><a href="event.html#renewal">リニューアルイベント</a></p>
						<p class="ly_event_container_img bl_event_container_img"><a href="event.html#renewal">
								<img src="image/other/bowler01.jpg" alt="リニューアルイベントへのリンク"></a></p>
					</div>
					<!--/.ly_event_container_box-->
					<div class="ly_event_container_box">
						<p class="ly_event_container_tit bl_event_container_tit"><a href="event.html#vsArashi">VS ARASHI</a></p>
						<p class="ly_event_container_img bl_event_container_img"><a href="event.html#vsArashi">
								<img src="image/other/bowler02.jpg" alt="VS嵐へのリンク"></a></p>
					</div>
					<!--/.ly_event_container_box-->
					<div class="ly_event_container_box">
						<p class="ly_event_container_tit bl_event_container_tit"><a href="event.html#vrDay">VR Day</a></p>
						<p class="ly_event_container_img bl_event_container_img"><a href="event.html#vrDay">
								<img src="image/other/bowler03.jpg" alt="VR DAY へのリンク"></a></p>
					</div>
					<!--/.ly_event_container_box-->
					<div class="ly_event_container_box">
						<p class="ly_event_container_tit bl_event_container_tit"><a href="event.html#morizukaBattleDay">MORIZUKA BATTLE Day</a></p>
						<p class="ly_event_container_img bl_event_container_img"><a href="event.html#morizukaBattleDay">
								<img src="image/other/bowler04.jpg" alt="SPECIAL BATTLE DAY へのリンク"></a></p>
					</div>
					<!--/.ly_event_container_box-->
				</div>
				<!--/.ly_event_container-->
			</section>
			<!-- /.event -->
			<section class="index_price uq-mbLarge uq-tac">
				<h2 class="index_price_tit uq-mb24">ご利用案内</h2>
				<div class="tableWrapper sp-contShrink">
					<table class="index_price_table uq-mb24">
						<caption>料金表</caption>
						<thead>
							<tr>
								<th></th>
								<th>1ゲーム</th>
								<th>レンタルシューズ</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<th>一般</th>
								<td>600円</td>
								<td rowspan="4">300円</td>
							</tr>
							<tr>
								<th>シニア・大学生</th>
								<td>500円</td>
							</tr>
							<tr>
								<th>高校生・中学生</th>
								<td>400円</td>
							</tr>
							<tr>
								<th>子供</th>
								<td>300円</td>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- /.tableWrapper -->
				<table class="index_price_table">
					<caption>会員料金</caption>
					<tr>
						<th>平日</th>
						<td>324円</td>
					</tr>
					<tr>
						<th>土・日</th>
						<td>378円</td>
					</tr>
				</table>
				<p id="reservationsLink" class="uq-tac"><a class="btn btn-success" href="reservations.html" role="button">予約ページへと進む</a></p>
			</section>
			<!--/.index_price-->
		</main>
		<!-- /.index -->
	</div>
	<!-- /.contentsWrapper --> <%- include('common/_footer') %>
	<!-- /.footer -->
	<script src="js/swiper.js"></script>
	<script src="js/main.js"></script>
	<script src="js/jquery-3.4.1.min.js"></script>
</body>

</html>